body {
margin:0 auto;
}

#wrapper {
width:1280px;
height:auto;
margin:0 auto;
}

section {
margin: 0 auto;
width: 960px;
height: auto;
padding:5em;
}

h1 {
font-size: 50px;
font-family: 'Crimson Text', serif;
text-align: center;
line-height: 95%;
}

h3 {
font-family: 'Crimson Text', serif;
text-align: center;	
font-size: 1.4em;
padding-top:1em;
}

.happyday {
position: absolute;
padding:4em;
opacity: .5;
font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
font-size: 12px;
}


nav {
/*what goes here?*/	

}

ul {
margin-right:4em;
margin-top:1.5em;
}

li {
list-style-type: none;
float:right;
margin:2em 1em 1em 1em;
font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
font-size: 12px;
color: blue;
opacity:.8;
}

a {
text-decoration: none;	
}

a:hover	{
opacity: .4;
}

img.logo {
margin-left: 24em;
padding-bottom: 1.5em;
}

figure {
padding-top:2em;
margin-left: 7em;
}

figure:after {
clear: both;
content: "";
display: table;
}


.box {
border: 1px solid black;
padding:3em 3em 0em 3em;
float:left;
width: 100px;
margin-left: 2em;
background: -webkit-linear-gradient(bottom, red, blue); /* For Safari */
background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
background: linear-gradient(bottom, red, blue); /* Standard syntax */
}