* {
-webkit-font-smoothing:antialiased;
-moz-font-smoothing:antialiased;
font-smoothing: antialiased;
}


body {
background:#fafafa;	
}

.wrapper {
max-width:1280px;
margin: 0 auto;	
}

section h1 {
text-align: center;
font-size: 30px;
font-family: 'Roboto Condensed', sans-serif;
color: #2a2a2a;	
}

figure {
overflow: hidden;
column-count:2;
-webkit-column-count:2;
padding:0;
margin:0;	
}

img {
width: 650px;
margin: 0 auto;
}

h1 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
color:black;	
}